[submodule "beercon2-talk"]
  path = beercon2-talk
  url = git@github.com:AtomicNicos/beercon2-resources-files

[submodule "bsides-ncl-workshop"]
  path = bsides-ncl-workshop
  url = git@github.com:AtomicNicos/bsides-ncl-workshop.git